<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xzxxn.ls.mall.api.mapper.MallOrderItemMapper">
  <resultMap id="BaseResultMap" type="xzxxn.ls.mall.api.entity.MallOrderItem">
    <!--@mbg.generated-->
    <!--@Table tb_mall_order_item-->
    <id column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_cover_img" jdbcType="VARCHAR" property="goodsCoverImg" />
    <result column="selling_price" jdbcType="INTEGER" property="sellingPrice" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_item_id, order_id, goods_id, goods_name, goods_cover_img, selling_price, goods_count, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_mall_order_item
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_mall_order_item
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="order_item_id" keyProperty="orderItemId" parameterType="xzxxn.ls.mall.api.entity.MallOrderItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mall_order_item (order_id, goods_id, goods_name, 
      goods_cover_img, selling_price, goods_count, 
      create_time)
    values (#{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsCoverImg,jdbcType=VARCHAR}, #{sellingPrice,jdbcType=INTEGER}, #{goodsCount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="order_item_id" keyProperty="orderItemId" parameterType="xzxxn.ls.mall.api.entity.MallOrderItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mall_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsCoverImg != null">
        goods_cover_img,
      </if>
      <if test="sellingPrice != null">
        selling_price,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImg != null">
        #{goodsCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="sellingPrice != null">
        #{sellingPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xzxxn.ls.mall.api.entity.MallOrderItem">
    <!--@mbg.generated-->
    update tb_mall_order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImg != null">
        goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="sellingPrice != null">
        selling_price = #{sellingPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xzxxn.ls.mall.api.entity.MallOrderItem">
    <!--@mbg.generated-->
    update tb_mall_order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
      selling_price = #{sellingPrice,jdbcType=INTEGER},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
</mapper>