<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xzxxn.ls.mall.api.mapper.MallCarouselMapper">
  <resultMap id="BaseResultMap" type="xzxxn.ls.mall.api.entity.MallCarousel">
    <!--@mbg.generated-->
    <!--@Table tb_mall_carousel-->
    <id column="carousel_id" jdbcType="INTEGER" property="carouselId" />
    <result column="carousel_url" jdbcType="VARCHAR" property="carouselUrl" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="carousel_rank" jdbcType="INTEGER" property="carouselRank" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    carousel_id, carousel_url, redirect_url, carousel_rank, is_deleted, create_time, 
    create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_mall_carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_mall_carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="carousel_id" keyProperty="carouselId" parameterType="xzxxn.ls.mall.api.entity.MallCarousel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mall_carousel (carousel_url, redirect_url, carousel_rank, 
      is_deleted, create_time, create_user, 
      update_time, update_user)
    values (#{carouselUrl,jdbcType=VARCHAR}, #{redirectUrl,jdbcType=VARCHAR}, #{carouselRank,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="carousel_id" keyProperty="carouselId" parameterType="xzxxn.ls.mall.api.entity.MallCarousel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mall_carousel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carouselUrl != null">
        carousel_url,
      </if>
      <if test="redirectUrl != null">
        redirect_url,
      </if>
      <if test="carouselRank != null">
        carousel_rank,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carouselUrl != null">
        #{carouselUrl,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null">
        #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="carouselRank != null">
        #{carouselRank,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xzxxn.ls.mall.api.entity.MallCarousel">
    <!--@mbg.generated-->
    update tb_mall_carousel
    <set>
      <if test="carouselUrl != null">
        carousel_url = #{carouselUrl,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null">
        redirect_url = #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="carouselRank != null">
        carousel_rank = #{carouselRank,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xzxxn.ls.mall.api.entity.MallCarousel">
    <!--@mbg.generated-->
    update tb_mall_carousel
    set carousel_url = #{carouselUrl,jdbcType=VARCHAR},
      redirect_url = #{redirectUrl,jdbcType=VARCHAR},
      carousel_rank = #{carouselRank,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
</mapper>